# go
.test
.out
.so
go.work
**/build/

# react
**/node_modules
.log*
.swp
.swo
.module-cache
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
.npm 

# docker and postges data
data/

# vs code (just in case I decide to use it)
.vscode
