<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Belote</title>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Profile</h1>
      <!-- Add any navigation or header content here -->
    </header>

    <main>
      <section>
        <h2>Section Title</h2>
        <!-- Add your main content here -->
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>

      <form id="genGameKeyForm" action="/profile/genGameKey" method="post">
        <label for="playerCount">Player count:</label><br />
        <input
          type="number"
          id="playerCount"
          name="playerCount"
          required
        /><br />
        <label for="name1">Name 1:</label>
        <input type="text" id="name1" name="name1" required /><br />
        <label for="name2">Name 2:</label>
        <input type="text" id="name2" name="name2" required /><br />
        <!-- Add more input fields for additional players if needed -->

        <button type="submit">Generate Game Key</button>
      </form>

      <br />

      <section id="gameKeySection" style="display: none">
        <h3>Generated Game Key:</h3>
        <p id="gameKeyDisplay"></p>
      </section>

      <section>
        <form action="/profile/enterGameQueue" method="post">
          <label for="keyHolder">Key holder:</label><br />
          <input type="text" id="keyHolder" name="keyHolder" required /><br />
          <label for="gameKey">Game key:</label><br />
          <input type="text" id="gameKey" name="gameKey" required /><br />

          <input type="submit" value="Enter Game" />
        </form>
      </section>
    </main>

    <script>
      $("#genGameKeyForm").submit(function (e) {
        e.preventDefault(); // Prevent the default form submission
        var formData = $(this).serialize();
        $.ajax({
          type: "POST", // Sending as POST request
          url: "http://localhost:8080/profile/genGameKey",
          data: formData,
          success: function (response) {
            // Update DOM to display the generated game key
            $("#gameKeyDisplay").text(response.gameKey);
            $("#gameKeySection").show(); // Show the section containing the game key
          },
          error: function (xhr, status, error) {
            console.error(error);
          },
        });
      });
    </script>
  </body>
</html>
